<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form id="edui_form_ipwmvy9n" target="edui_iframe_ipwmvy9n" method="POST" enctype="multipart/form-data" action="/app_dev.php/ueditor?action=uploadimage" >
    <input id="edui_input_ipwmvy9n" type="file" accept="image/*" name="upfile" >
    <button type="submit">submit</button>
</form>

</body>
</html>
